

input[type="submit"] {
    background: linear-gradient(to right,var(--color-accent) ,var(--color-accent-dark));
    border: none;
    padding: var(--space-sm) var(--space-xl);
    color: var(--white);
    font-size: var(--text-base-size);
    border-radius: 35px;
  }

  .btn__outline {
    display: inline-block;
    color: white;
    padding: var(--space-sm) var(--space-md);
    border: 1px solid var(--white);
    transition: .2s ease-in-out;

    &:hover {
       color: var(--white);
       text-decoration: none;
       border-color: var(--color-primary);
       background: var(--color-primary);
    }
  }
