
.footer-wrapper {
    padding: 50px 80px;
    display: flex;
  }
  
  .footer-links {
    width: 70%;
  }
  .footer-tags {
    width: 30%;
  }
  .footer-links {
    display: flex;
  }
  .single-footer-links {
    width: 33%;
  }
  .single-footer-links h3 {
    font-size: 18px;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .single-footer-links ul li a {
    display: inline-block;
    color: #FFF;
    font-size: 14px;
    padding: 2px 0;
  }
  .single-footer-links {
  }
  .footer-tags .logo {
    width: 200px;
  }
  .footer-tags p {
    width: 320px;
    display: block;
    color: #FFF;
    font-size: 14px;
    margin: 25px 0;
  }
  .footer-socials ul li {
      display: inline-block;
      margin-right: 5px;
  }
  .footer-socials ul li:last-child {
      margin-right: 0px;
  }
  .footer-socials ul li a {
    color: #FFF;
    width: 40px;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    border: 1px solid;
    font-size: 14px;
    transition: .5s;
  }
  .footer-socials ul li a:hover {
    background: #FFF;
    color: #0A70BE;
  }
  .footer-wrapper {
      background: linear-gradient(to right, #278cd8 49%, #0269b7 88%);
  }
  .footer-copyright {
      background: #0269B6;
      text-align: center;
      padding: 20px 0;
  }
  .footer-copyright p {
      color: #FFF;
      font-size: 14px;
  }
  .footer-copyright a {
      color: #FFF;
      font-size: 14px;
  }


  .footer-wrapper {
    padding: 50px;
  }
  .footer-wrapper {
    padding: 50px;
  }