.footer {
    
    &__main {
    background: var(--color-accent);
    background: -webkit-linear-gradient(left, var(--color-accent-light), var(--color-accent-dark) 100%);
    background:      -o-linear-gradient(left, var(--color-accent-light), var(--color-accent-dark) 100%);
    background:     linear-gradient(to right, var(--color-accent-light), var(--color-accent-dark) 100%);
    color: var(--white);
    padding: var(--space-xl) 0 0;
    }

    .container {
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        padding: 0 var(--space-md);
    }
}

@include respond-to('medium') {

    .footer {
        .container {
            flex-direction: row;
        }
    }
}

  .list {

      &__item {
        
      }

      &__link {
        color: var(--white);
        display: block;
        padding: .5rvar(--space-sm ) 0;

        &:hover {
          text-decoration: underline;
        }
      }

      &__social {
        padding-top: var(--space-lg);
      }
  }

  .list_social {
    
    .list__link {
      display: block;
      height: 3rem;
      margin-right: .75rem;
      border: 1px solid var(--white);
    }
  }


  .socket {
    
    background: var(--color-accent-light);
    background:      -o-linear-gradient(left, var(--color-accent-dark), var(--color-accent-light) 100%);
    background: -webkit-linear-gradient(left, var(--color-accent-dark), var(--color-accent-light) 100%);
    background:     linear-gradient(to right, var(--color-accent-dark), var(--color-accent-light) 100%);

    color: var(--white);
    padding: var(--space-md);
    text-align: center;
    font-size: .75rem;
  }

  .footer__logo {
    display: block;
    max-width: 12.5rem;
    margin-bottom: var(--space-md);
  }


  .widget--1,  
  .widget--2,  
  .widget--3,  
  .widget--4 { padding-bottom: var(--space-lg);}

  .widget--1 {grid-column: 1/4;}
  .widget--2 {grid-column: 1/4;}
  .widget--3 {grid-column: 1/4;}
  .widget--4 {grid-column: 1/4;}

  @include respond-to('x-small') {

    .widget--1 {grid-column: 1/4;}
    .widget--2 {grid-column: 4/7;}
    .widget--3 {grid-column: 1/4;}
    .widget--4 {grid-column: 4/7;}

  }

  @include respond-to('medium') {

    .widget--1 {grid-column: 1/4;}
    .widget--2 {grid-column: 4/7;}
    .widget--3 {grid-column: 7/10;}
    .widget--4 {grid-column: 1/7;}

  }

  @include respond-to('large') {

    .widget--1 {grid-column: 1/4;}
    .widget--2 {grid-column: 4/7;}
    .widget--3 {grid-column: 7/9;}
    .widget--4 {grid-column: 9/13;}

  }


  