:root {
  /* main colors */
  --color-primary: #ff6000;
  --color-primary-light: #ff9902;
  --color-accent: #0082E4;
  --color-accent-light: #209CF9;
  --color-accent-dark: #0269B7;
  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;
  /* feedback */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;
  /* typography */
  --color-text: var(--gray-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-mark: var(--color-accent-bg);
  --color-blockquote-border: var(--gray-2);
  /* border */
  --color-border: var(--gray-2);
  /* body */
  --color-body: var(--white);
  /* forms */
  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white);
  --form-text-placeholder: var(--gray-4);
  /* buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);
}

:root {
  --font-primary: 'Verdana',sans-serif;
  --font-secondary: 'Helvetica',sans-serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
}

:root {
  --space-unit: 1em;
  --space-xxs:  calc(0.25 * var(--space-unit));
  --space-xs:   calc(0.5 * var(--space-unit));
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1.25 * var(--space-unit));
  --space-lg:   calc(2 * var(--space-unit));
  --space-xl:   calc(3.25 * var(--space-unit));
  --space-xxl:  calc(5.25 * var(--space-unit));
}

:root {
  --font-primary: 'Verdana',sans-serif;
  --font-secondary: 'Helvetica',sans-serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
}

.content__main {
  padding-top: var(--space-lg);
}

@media (min-width: 992px) {
  .content__main {
    padding-top: calc(2 * var(--space-xxl));
  }
}

.list--horz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header__main {
  -webkit-transition: .6s;
  transition: .6s;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__main.hide {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.header__top {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-primary)), to(var(--color-primary)));
  background: linear-gradient(to right, var(--color-primary), var(--color-primary));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--space-unit) var(--space-md) 0;
  position: relative;
  z-index: 3;
}

@media (min-width: 992px) {
  .header__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: var(--space-unit) var(--space-xl) 0;
  }
}

.logo__link {
  display: block;
  height: 2.5rem;
  width: 7rem;
}

@media (min-width: 468px) {
  .logo__link {
    display: block;
    height: 3rem;
    width: 11.8125rem;
    margin-bottom: var(--space-unit);
  }
}

.primary-nav, .secondary-nav {
  display: none;
  padding: var(--space-md) 0;
}

.menu {
  margin: 0;
}

.menu__link {
  color: var(--white);
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: inset 0 0 0 0 var(--white);
          box-shadow: inset 0 0 0 0 var(--white);
  padding: var(--space-xs) var(--space-lg);
}

.menu__link:hover {
  color: var(--white);
  -webkit-box-shadow: inset 0.25rem 0 0 0 var(--white);
          box-shadow: inset 0.25rem 0 0 0 var(--white);
  text-decoration: none;
}

@media (min-width: 992px) {
  .primary-nav, .secondary-nav {
    display: block;
    padding: 0;
  }
  .primary-nav {
    margin-left: var(--space-lg);
  }
  .secondary-nav {
    margin-left: auto;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__item {
    padding: 0;
  }
  .menu__link {
    padding: var(--space-xs) var(--space-unit) var(--space-md);
  }
  .menu__link:hover {
    -webkit-box-shadow: inset 0 -0.25rem 0 0 var(--white);
            box-shadow: inset 0 -0.25rem 0 0 var(--white);
  }
}

@media (min-width: 1200px) {
  .menu__link {
    padding: var(--space-xs) var(--space-lg) var(--space-md);
  }
}

.hamburger {
  display: block;
  position: absolute;
  height: 2rem;
  width: 3rem;
  top: var(--space-unit);
  right: var(--space-md);
}

.hamburger__trigger {
  display: block;
  width: 1.5rem;
  height: 2px;
  background: var(--white);
  position: absolute;
  right: 0;
  top: var(--space-unit);
}

.hamburger__trigger:before, .hamburger__trigger:after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--white);
  -webkit-transition: .5s;
  transition: .5s;
  right: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamburger__trigger:before {
  top: -8px;
  width: 2rem;
}

.hamburger__trigger:after {
  top: 8px;
  width: 2.5rem;
}

.hamburger__trigger.active {
  background: transparent;
}

.hamburger__trigger.active:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--white);
  width: 2rem;
}

.hamburger__trigger.active:after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: var(--white);
  width: 2rem;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.filter__icon {
  position: absolute;
  right: var(--space-xxl);
  top: var(--space-unit);
}

.filter__trigger {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.15rem;
}

@media (min-width: 992px) {
  .filter__icon {
    display: none;
  }
}

.header__bottom {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background: var(--white);
  height: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.header__bottom.visible {
  height: 20em;
}

.header-filter__wrapper {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  opacity: 0;
  padding: var(--space-lg) var(--space-md);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  width: 100%;
}

.header-filter__wrapper.animate {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

@media (min-width: 992px) {
  .header__bottom {
    display: block;
    padding: var(--space-unit) 0;
    height: 5.5rem;
    position: relative;
  }
  .header-filter__wrapper {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    padding: 0 var(--space-xl);
  }
}

.footer__main {
  background: var(--color-accent);
  background: -webkit-gradient(linear, left top, right top, from(var(--color-accent-light)), to(var(--color-accent-dark)));
  background: linear-gradient(to right, var(--color-accent-light), var(--color-accent-dark) 100%);
  color: var(--white);
  padding: var(--space-xl) 0 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 var(--space-md);
}

@media (min-width: 992px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.list__link {
  color: var(--white);
  display: block;
  padding: 0.5rvar --space-sm 0;
}

.list__link:hover {
  text-decoration: underline;
}

.list__social {
  padding-top: var(--space-lg);
}

.list_social .list__link {
  display: block;
  height: 3rem;
  margin-right: .75rem;
  border: 1px solid var(--white);
}

.socket {
  background: var(--color-accent-light);
  background: -webkit-gradient(linear, left top, right top, from(var(--color-accent-dark)), to(var(--color-accent-light)));
  background: linear-gradient(to right, var(--color-accent-dark), var(--color-accent-light) 100%);
  color: var(--white);
  padding: var(--space-md);
  text-align: center;
  font-size: .75rem;
}

.footer__logo {
  display: block;
  max-width: 12.5rem;
  margin-bottom: var(--space-md);
}

.widget__20 {
  width: 100%;
  padding-bottom: var(--space-lg);
}

.widget__30 {
  width: 100%;
  padding-bottom: var(--space-lg);
}

@media only screen and (min-width: 768px) {
  .widget__20 {
    width: 20%;
    padding-bottom: 0;
  }
  .widget__30 {
    width: 30%;
    margin-left: auto;
    padding-bottom: 0;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  background: var(--white);
  border-radius: 0 !important;
  border: 1px solid var(--gray-10) !important;
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  background: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */