:root {
  /* main colors */
  --color-primary: #ff6000;
  --color-primary-light: #ff9902;
  --color-accent: #0082E4;
  --color-accent-light: #209CF9;
  --color-accent-dark: #0269B7;
  --black: #1d1d21;
  --gray-10: #2e2e31;
  --gray-6: #7b7a7d;
  --gray-4: #a5a5a6;
  --gray-3: #bbbbbc;
  --gray-2: #d1d0d2;
  --gray-1: #e8e7e8;
  --white: white;
  /* feedback */
  --color-success: #88c459;
  --color-error: #f5414f;
  --color-warning: #ffd137;
  /* typography */
  --color-text: var(--gray-10);
  --color-text-heading: var(--black);
  --color-text-subtle: var(--gray-6);
  --color-link: var(--color-primary);
  --color-link-visited: var(--color-primary-dark);
  --color-mark: var(--color-accent-bg);
  --color-blockquote-border: var(--gray-2);
  /* border */
  --color-border: var(--gray-2);
  /* body */
  --color-body: var(--white);
  /* forms */
  --form-element-border: var(--color-border);
  --form-element-border-focus: var(--color-primary);
  --form-element-border-error: var(--color-error);
  --form-element-bg: var(--white);
  --form-text-placeholder: var(--gray-4);
  /* buttons */
  --btn-primary-bg: var(--color-primary);
  --btn-primary-hover: var(--color-primary-light);
  --btn-primary-active: var(--color-primary-dark);
  --btn-primary-label: var(--white);
}

:root {
  --space-unit: 1em;
  --space-xxs:  calc(0.25 * var(--space-unit));
  --space-xs:   calc(0.5 * var(--space-unit));
  --space-sm:   calc(0.75 * var(--space-unit));
  --space-md:   calc(1.5 * var(--space-unit));
  --space-lg:   calc(2 * var(--space-unit));
  --space-xl:   calc(2.25 * var(--space-unit));
  --space-xxl:   calc(3.5 * var(--space-unit));
  --space-xxxl:  calc(5.25 * var(--space-unit));
}

:root {
  --font-primary: 'Verdana',sans-serif;
  --font-secondary: 'Helvetica',sans-serif;
  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.2;
}

.heading-h2--white {
  color: white;
  font-family: var(--font-secondary);
  line-height: 1.25em;
  font-weight: 900;
  font-size: 1.5em;
  margin-bottom: 1em;
}

@media (min-width: 992px) {
  .heading-h2--white {
    font-size: 1.75em;
  }
}

@media (min-width: 1200px) {
  .heading-h2--white {
    font-size: 2em;
    line-height: 1.25em;
  }
}

.content__main {
  padding-top: var(--space-lg);
}

.content__wrapper {
  max-width: calc(90em + (2 * var(--space-md)));
  padding: 0 var(--space-md);
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 992px) {
  .content__main {
    padding-top: calc(2 * var(--space-xxl));
  }
}

.content__wrapper {
  max-width: calc(90em + (2 * var(--space-lg)));
  padding: 0 var(--space-lg);
}

@media (min-width: 1200px) {
  .content__wrapper {
    max-width: calc(90em + (2 * var(--space-xl)));
    padding: 0 var(--space-xl);
  }
}

.grid--12 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--space-unit);
  grid-row-gap: var(--space-unit);
}

.grid__item, .grid__item--8, .grid__item--4 {
  grid-column: span 4;
}

.grid__item--8 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media (min-width: 468px) {
  .grid--12 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    grid-column-gap: var(--space-md);
  }
  .grid__item {
    grid-column: span 3;
  }
  .grid__item--8 {
    grid-column: span 6;
  }
  .grid__item--4 {
    grid-column: span 4;
  }
}

@media (min-width: 992px) {
  .grid--12 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[9];
        grid-template-columns: repeat(9, 1fr);
    grid-column-gap: var(--space-md);
  }
  .grid__item {
    grid-column: span 3;
  }
  .grid__item--8 {
    grid-column: span 6;
  }
  .grid__item--4 {
    grid-column: span 3;
  }
}

@media (min-width: 1200px) {
  .grid--12 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    grid-column-gap: var(--space-md);
    grid-row-gap: var(--space-lg);
  }
  .grid__item {
    grid-column: span 3;
  }
  .grid__item--8 {
    grid-column: span 8;
  }
  .grid__item--4 {
    grid-column: span 4;
  }
}

input[type="submit"] {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-accent)), to(var(--color-accent-dark)));
  background: linear-gradient(to right, var(--color-accent), var(--color-accent-dark));
  border: none;
  padding: var(--space-sm) var(--space-xl);
  color: var(--white);
  font-size: var(--text-base-size);
  border-radius: 35px;
}

.btn__outline {
  display: inline-block;
  color: white;
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--white);
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.btn__outline:hover {
  color: var(--white);
  text-decoration: none;
  border-color: var(--color-primary);
  background: var(--color-primary);
}

/* Style the tab */
.tab {
  overflow: hidden;
}

.tab-set__wrapper {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-primary)), to(var(--color-primary-light)));
  background: linear-gradient(to right, var(--color-primary), var(--color-primary-light));
  padding-top: var(--space-xxl);
}

.tab__set {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tab__link {
  border: none;
  outline: none;
  cursor: pointer;
  padding: var(--space-md) var(--space-md);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: calc(.75 * var(--text-base-size));
  font-family: var(--font-secondary);
  font-weight: 600;
  color: var(--white);
  min-width: 8.75em;
  margin-right: 2px;
}

.tab__link.active {
  background: var(--white);
  color: #000;
  -webkit-appearance: none;
}

.tab__link:hover {
  -webkit-box-shadow: inset 0 -0.25em 0 var(--white);
          box-shadow: inset 0 -0.25em 0 var(--white);
}

.tab__link:focus {
  outline: none;
}

@media (min-width: 767px) {
  .tab__link {
    padding: var(--space-md) var(--space-unit);
    font-size: var(--text-base-size);
    min-width: 12em;
  }
}

@media (min-width: 1200px) {
  .tab__link {
    padding: var(--space-lg) var(--space-unit);
    font-size: var(--text-base-size);
    line-height: 2em;
    min-width: 12em;
  }
}

.tab-content {
  background: var(--white);
  padding: var(--space-xxl) 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #FFF;
  color: #000;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #FFF;
  color: #000;
}

/* Style the tab content */
.tab-content__inner {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab-content__inner {
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
  padding: 0;
  background: #FFF;
}

.tab-content-inner {
  padding-top: 60px;
}

.tab button {
  padding: 18px 17px;
  font-size: 13px;
}

.tab-content-inner {
  padding-top: 100px;
}

#dashboard .content-head {
  background: 0 0;
}

#dashboard .tab-content {
  margin-top: 0;
}

#dashboard .tab {
  overflow: hidden;
  position: relative;
  padding: 0 100px;
}

#dashboard .tab-content {
  margin-top: 0;
  position: relative;
  top: -87px;
}

.name-card__item {
  display: block;
  padding-top: 20em;
  position: relative;
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  will-change: transform;
  background-size: cover;
}

.name-card__item:hover {
  -webkit-box-shadow: 0 16px 10px -10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 16px 10px -10px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.name-card__item:hover .overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
}

.name-card__item:hover .overlay-label {
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}

.name-card__item .overlay {
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.name-card__item .overlay__label {
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
  will-change: transform;
}

.info-card {
  border: 1px solid #e3e3e3;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.info-card .overlay {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(48%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.7) 100%);
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.info-card:hover {
  -webkit-box-shadow: 0 1.5em 2em -1em rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5em 2em -1em rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.5em);
          transform: translateY(-0.5em);
}

.info-card:hover .overlay {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.info-card__header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 18em;
  position: relative;
  display: block;
}

.info-card__header__content {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: var(--space-unit);
  color: var(--white);
  font-family: var(--font-secondary);
}

.info-card__header__content p {
  margin-bottom: .25em;
  font-weight: 700;
}

.info-card__body {
  padding: var(--space-unit);
}

.info-card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.info-card__footer .name-tag {
  background: #f3f3f3;
  margin-right: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: var(--space-sm) var(--space-unit);
  font-weight: 700;
}

.info-card__footer .share-icon {
  background: #D7D7D7;
}

.header__tag {
  display: inline-block;
  background: -webkit-gradient(linear, right top, left top, from(var(--color-primary)), to(var(--color-primary-light)));
  background: linear-gradient(to left, var(--color-primary), var(--color-primary-light));
  color: var(--white);
  font-size: .875em;
  padding: var(--space-sm) var(--space-md);
}

.info-card .btn__outline, .name-card__item .btn__outline {
  position: absolute;
  top: 50%;
  margin-top: -2em;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-2em);
          transform: translateX(-50%) translateY(-2em);
  opacity: 0;
  -webkit-transition: .3s linear;
  transition: .3s linear;
}

.info-card:hover .btn__outline, .name-card__item:hover .btn__outline {
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  opacity: 1;
}

.header__main {
  -webkit-transition: .6s;
  transition: .6s;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__main.hide {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.header__top {
  background: -webkit-gradient(linear, left top, right top, from(var(--color-primary)), to(var(--color-primary)));
  background: linear-gradient(to right, var(--color-primary), var(--color-primary));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: var(--space-unit) var(--space-md) 0;
  position: relative;
  z-index: 3;
}

@media (min-width: 992px) {
  .header__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: var(--space-unit) var(--space-xl) 0;
  }
}

.logo__link {
  display: block;
  height: 2.5rem;
  width: 7rem;
}

@media (min-width: 468px) {
  .logo__link {
    display: block;
    height: 3rem;
    width: 11.8125rem;
    margin-bottom: var(--space-unit);
  }
}

.primary-nav, .secondary-nav {
  display: none;
  padding: var(--space-md) 0;
}

.menu {
  margin: 0;
}

.menu__link {
  color: var(--white);
  display: block;
  -webkit-transition: .25s;
  transition: .25s;
  -webkit-box-shadow: inset 0 0 0 0 var(--white);
          box-shadow: inset 0 0 0 0 var(--white);
  padding: var(--space-xs) var(--space-lg);
}

.menu__link:hover {
  color: var(--white);
  -webkit-box-shadow: inset 0.25rem 0 0 0 var(--white);
          box-shadow: inset 0.25rem 0 0 0 var(--white);
  text-decoration: none;
}

@media (min-width: 992px) {
  .primary-nav, .secondary-nav {
    display: block;
    padding: 0;
  }
  .primary-nav {
    margin-left: var(--space-lg);
  }
  .secondary-nav {
    margin-left: auto;
  }
  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__item {
    padding: 0;
  }
  .menu__link {
    padding: var(--space-xs) var(--space-unit) var(--space-md);
  }
  .menu__link:hover {
    -webkit-box-shadow: inset 0 -0.25rem 0 0 var(--white);
            box-shadow: inset 0 -0.25rem 0 0 var(--white);
  }
}

@media (min-width: 1200px) {
  .menu__link {
    padding: var(--space-xs) var(--space-lg) var(--space-md);
  }
}

.hamburger {
  display: block;
  position: absolute;
  height: 2rem;
  width: 3rem;
  top: var(--space-unit);
  right: var(--space-md);
}

.hamburger__trigger {
  display: block;
  width: 1.5rem;
  height: 2px;
  background: var(--white);
  position: absolute;
  right: 0;
  top: var(--space-unit);
}

.hamburger__trigger:before, .hamburger__trigger:after {
  content: "";
  position: absolute;
  height: 2px;
  background: var(--white);
  -webkit-transition: .5s;
  transition: .5s;
  right: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.hamburger__trigger:before {
  top: -8px;
  width: 2rem;
}

.hamburger__trigger:after {
  top: 8px;
  width: 2.5rem;
}

.hamburger__trigger.active {
  background: transparent;
}

.hamburger__trigger.active:before {
  top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background: var(--white);
  width: 2rem;
}

.hamburger__trigger.active:after {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  background: var(--white);
  width: 2rem;
}

@media (min-width: 992px) {
  .hamburger {
    display: none;
  }
}

.filter__icon {
  position: absolute;
  right: var(--space-xxl);
  top: var(--space-unit);
}

.filter__trigger {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  height: 2rem;
  width: 2rem;
  text-align: center;
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.15rem;
}

@media (min-width: 992px) {
  .filter__icon {
    display: none;
  }
}

.header__bottom {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background: var(--white);
  height: 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  z-index: 2;
  position: relative;
  overflow: hidden;
}

.header__bottom.visible {
  height: 20em;
}

.header-filter__wrapper {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  opacity: 0;
  padding: var(--space-lg) var(--space-md);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: absolute;
  width: 100%;
}

.header-filter__wrapper.animate {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

@media (min-width: 992px) {
  .header__bottom {
    display: block;
    padding: var(--space-unit) 0;
    height: 5.5rem;
    position: relative;
  }
  .header-filter__wrapper {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    padding: 0 var(--space-xl);
  }
}

.footer__main {
  background: var(--color-accent);
  background: -webkit-gradient(linear, left top, right top, from(var(--color-accent-light)), to(var(--color-accent-dark)));
  background: linear-gradient(to right, var(--color-accent-light), var(--color-accent-dark) 100%);
  color: var(--white);
  padding: var(--space-xl) 0 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 var(--space-md);
}

@media (min-width: 992px) {
  .footer .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.list__link {
  color: var(--white);
  display: block;
  padding: 0.5rvar --space-sm 0;
}

.list__link:hover {
  text-decoration: underline;
}

.list__social {
  padding-top: var(--space-lg);
}

.list_social .list__link {
  display: block;
  height: 3rem;
  margin-right: .75rem;
  border: 1px solid var(--white);
}

.socket {
  background: var(--color-accent-light);
  background: -webkit-gradient(linear, left top, right top, from(var(--color-accent-dark)), to(var(--color-accent-light)));
  background: linear-gradient(to right, var(--color-accent-dark), var(--color-accent-light) 100%);
  color: var(--white);
  padding: var(--space-md);
  text-align: center;
  font-size: .75rem;
}

.footer__logo {
  display: block;
  max-width: 12.5rem;
  margin-bottom: var(--space-md);
}

.widget--1,
.widget--2,
.widget--3,
.widget--4 {
  padding-bottom: var(--space-lg);
}

.widget--1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.widget--2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.widget--3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.widget--4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

@media (min-width: 468px) {
  .widget--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .widget--2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .widget--3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .widget--4 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
}

@media (min-width: 992px) {
  .widget--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .widget--2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .widget--3 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 3;
    grid-column: 7/10;
  }
  .widget--4 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1/7;
  }
}

@media (min-width: 1200px) {
  .widget--1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .widget--2 {
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-column: 4/7;
  }
  .widget--3 {
    -ms-grid-column: 7;
    -ms-grid-column-span: 2;
    grid-column: 7/9;
  }
  .widget--4 {
    -ms-grid-column: 9;
    -ms-grid-column-span: 4;
    grid-column: 9/13;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  background: var(--white);
  border-radius: 0 !important;
  border: 1px solid var(--gray-10) !important;
}

.is-visible {
  display: block !important;
}

.is-hidden {
  display: none;
}

.list--horz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.swap-order--1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.swap-order--2 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 992px) {
  .swap-order--1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .swap-order--2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.no-mobile {
  display: none;
}

@media (min-width: 992px) {
  .no-mobile {
    display: block;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--text-base-size);
  font-family: var(--font-primary);
  background: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}
/*# sourceMappingURL=main.css.map */